
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>cookie </title>
</head>
<body>
    <a asp-action="Admin">Admin Sayfasına git</a>
    <a asp-action="Member">Member Sayfasına git</a>
    <a asp-action="LogOut">LogOut</a>
    
</body>


